<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realtime Traffic Warning Visualizer</title>

    <!-- leaflet css  -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <style>
        #map {
            width: 50%;
            height: 50vh;
        }
    </style>
</head>

<body>
    <center><h1>Traffic Events</h1>
    <div id="map"></div>
    </center>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- leaflet js  -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script>
    // Map initialization 
var map = L.map('map').setView([{{ LATITUDE  }},{{ LONGITUDE }}], 13);

//osm layer
var osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 18,
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
        'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    id: 'mapbox/streets-v11'/*,
    tileSize: 512,
    zoomOffset: -1*/
}).addTo(map);
//osm.addTo(map);
setInterval(() => {

    markers.forEach(function myFunction(item) {
            item.remove();
    });
    markers.splice(0)
    marker = L.marker([lat,lng])
    marker.addTo(map).bindPopup('My current position')
    markers.push(marker)

    
    $.getJSON("http://{{ TRAFFIC_MANAGER }}:5000/traffic/unit/km/r/5/"+
    "lat/{{ LATITUDE  }}/lng/{{ LONGITUDE }}", function(pos) {
        console.log(pos)
        data = pos.objects
        data.forEach(function myFunction(item) {
            markPosition(item.object,item.lat,item.lng,item.type,item.warning)
        });
    });

}, 5000);

var marker;
var markers = []

var carIcon = L.icon({
    iconUrl: "{{ url_for('static', filename = 'car.png') }}",
    iconSize:     [25, 15]
});

var personIcon = L.icon({
    iconUrl: "{{ url_for('static', filename = 'person.png') }}",
    iconSize:     [15, 18]
});

var truckIcon = L.icon({
    iconUrl: "{{ url_for('static', filename = 'truck.png') }}",
    iconSize:     [25, 15]
});

function markPosition(object,lat,lng,o_type,warning)
{
    var objectIcon=null;
    if(o_type==="person")
       objectIcon=personIcon;
    else if((o_type==="car"))
       objectIcon=carIcon;
    else if((o_type==="truck"))
       objectIcon=truckIcon;

    let warning_txt = "Watch out "+o_type+" close"
    marker = L.marker([lat, lng],{icon: objectIcon})
    marker.addTo(map)
    .bindPopup('<b>ObjectId:</b> '+object
            +'<br><b>Latitude: </b>'+lat
            +'<br><b>Longitude: </b>'+lng
            +'<br><b>type: </b>'+o_type
            +'<br><b>warning: '+warning_txt+'</b><br>'
            )
    markers.push(marker)
}
</script>

